@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgIndex {
    width: 50%;
    height: 400px;
}

.centrar {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

h1{
    font-size: 32px;
}

img {
    max-width:100%;  
    }