.gridContainer {
    width: 80%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.63);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 160px 50px auto 160px;
    grid-template-areas: "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
}

._header {
    background-color: $colorGrisOscuro;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

._nav {
    background-color: #303030;
    grid-area: nav;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        height: 100%;
        align-items: center;

        li {
            &:hover {
                transform: scale(1.3);
            }

            a {
                text-decoration: none;
                color: blanchedalmond;
            }
        }
    }
}

._main {
    background-color: $colorGris;
    grid-area: main;
    justify-content: space-around;
}

.Gradiente {
    background-image: linear-gradient(to right, #555454, white);
}

.primero {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.segundo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.tercero {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cuarto {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

._footer {
    background-color: #303030;
    grid-area: footer;

    .disclaimer {
        height: 100%;
        color: antiquewhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}