$colorNegro: rgba(0, 0, 0, 0.63);
$colorGrisOscuro: rgba(113, 114, 116, 0.438);
$colorGris: rgba(190, 191, 194, 0.438);
$fontLucida: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
